@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Great+Vibes&family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
}

.body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "header" "main" "footer";
}

.main .seccionNosotros .contenedorNosotros .row .texto, .main .recomendaciones .tarjetaRecomendacion .tarjeta p, .main .containerNosotros .nosotros p, .main .containerNosotros .nuestraMision p, .main .preguntas div p {
  color: #481620;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.main section h2, .main .seccionNosotros h2, .main .recomendaciones h2, .main .productos h2, .main .containerNosotros .textoNosotros h2, .mainContac section h2, .main .preguntas div h2 {
  width: 100%;
  text-align: center;
  color: #481620;
  background-color: #F79F79;
  text-transform: capitalize;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-dark {
  background-color: #ADFFF5;
}

.navbar-dark .navbar-brand img {
  margin-left: 100px;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(48, 16, 20, 0.3);
  border-radius: 10px;
}

.navbar-dark .navbar-toggler .fa-bars {
  font-size: 30px;
  color: #481620;
}

.navbar-dark .navbar-nav .nav-link {
  color: #481620;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #F79F79;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #ADFFF5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer ul {
  list-style-type: none;
  margin-left: 10px;
}

.footer ul li a {
  text-decoration: none;
  color: #481620;
  font-size: 18px;
}

.footer div {
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
}

.footer div h3 {
  color: #481620;
}

.footer div iframe {
  width: 220px;
  height: 120px;
}

.footer div iframe:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 2s;
  transition: 2s;
}

.footer div .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer div .redes a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 2s;
  transition: 2s;
}

/* ------------------------------MAIN-INDEX---------------------------------------- */
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../multimedia/imagenes/Background1.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../multimedia/imagenes/Background1.jpg);
  background-size: cover;
}

.main .hero {
  height: 800px;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1627488193141-953623010488?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .hero h1 {
  font-size: 75px;
  color: white;
  font-family: 'Great Vibes', cursive;
  text-shadow: 2px 2px 2px #F79F79;
  margin-bottom: 50px;
}

.main .hero .button {
  background-color: #F79F79;
  border: 0;
  padding: 10px;
  color: white;
  font-style: oblique;
  font-family: cursive;
  font-size: 20px;
  border-radius: 5px;
}

.main .hero .button:hover {
  text-decoration: none;
  background-color: #ADFFF5;
  color: #F79F79;
}

.main .seccionNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .seccionNosotros .contenedorNosotros .row .imagen {
  margin: 10px;
}

.main .seccionNosotros .contenedorNosotros .row .texto {
  margin: auto;
  padding: 15px;
}

.main .recomendaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
}

.main .recomendaciones .tarjetaRecomendacion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .recomendaciones .tarjetaRecomendacion .tarjeta {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #F79F79;
  border-radius: 10px;
  -webkit-box-shadow: 15px 5px 10px #F79F79;
          box-shadow: 15px 5px 10px #F79F79;
  -webkit-box-shadow: 0px 0px 40px #481620;
          box-shadow: 0px 0px 40px #481620;
  margin-top: 10px;
}

.main .recomendaciones .tarjetaRecomendacion .tarjeta h3 {
  font-size: 27px;
}

.main .recomendaciones .tarjetaRecomendacion .tarjeta img {
  margin-top: 25px;
}

.main .recomendaciones .tarjetaRecomendacion .tarjeta p {
  font-family: 'Abel', sans-serif;
  margin-top: 25px;
}

/* ----------------------------MAIN-PRODUCTOS-------------------------------------- */
.main .productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .productos .galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 20px 30px;
      grid-template-areas: "prod1 prod2 prod3" "prod4 prod5 prod6" "prod7 prod8 prod9";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15px;
}

.main .productos .galeria .prod1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: prod1;
}

.main .productos .galeria .prod2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: prod2;
}

.main .productos .galeria .prod3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: prod3;
}

.main .productos .galeria .prod4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: prod4;
}

.main .productos .galeria .prod5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: prod5;
}

.main .productos .galeria .prod6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: prod6;
}

.main .productos .galeria .prod7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: prod7;
}

.main .productos .galeria .prod8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: prod8;
}

.main .productos .galeria .prod9 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: prod9;
}

.main .productos .galeria .prod {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #F79F79;
  border-radius: 10px;
  -webkit-box-shadow: 15px 5px 10px #F79F79;
          box-shadow: 15px 5px 10px #F79F79;
  -webkit-box-shadow: 0px 0px 40px #481620;
          box-shadow: 0px 0px 40px #481620;
}

.main .productos .galeria .prod img {
  border-radius: 20px;
}

.main .productos .galeria .prod img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 2s;
  transition: 2s;
}

.main .productos .galeria .prod h3 {
  margin-top: 10px;
  color: #481620;
  font-size: 30px;
}

.main .productos .galeria .prod p {
  color: #481620;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}

/* /* ----------------------------MAIN-NOSOTROS--------------------------------------- */
.main .containerNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .containerNosotros .imagenNosotros {
  width: 50%;
  background-image: url(https://images.pexels.com/photos/4252133/pexels-photo-4252133.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
}

.main .containerNosotros .textoNosotros {
  width: 50%;
}

.main .containerNosotros .nuestraMision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .containerNosotros .nuestraMision img {
  width: 200px;
  height: 200px;
}

/* ----------------------------MAIN-CONTACTO--------------------------------------- */
.mainContac {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../multimedia/imagenes/Background1.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../multimedia/imagenes/Background1.jpg);
  background-size: cover;
}

.mainContac section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContac section .form {
  width: 450px;
  height: 600px;
  border: 2px solid #00ffe1;
  padding: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ADFFF5;
  -webkit-box-shadow: 7px 13px 37px #000;
          box-shadow: 7px 13px 37px #000;
}

.mainContac section .form h3 {
  font-size: 30px;
  color: #481620;
  text-align: center;
  margin-bottom: 20px;
}

.mainContac section .form .entrada {
  width: 100%;
  background: #bce9e4;
  border: 2px solid #F79F79;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.mainContac section .form .entrada2 {
  width: 100%;
  height: 200px;
  background: #bce9e4;
  padding: 10px;
  border: 2px solid #F79F79;
  border-radius: 5px;
  margin-bottom: 30px;
}

.mainContac section .form .accion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.mainContac section .form .accion .boton {
  width: 30%;
  height: 30px;
  padding: 5px;
  background: #F79F79;
  color: #481620;
  font-size: 15px;
  text-align: center;
}

/* ----------------------------MAIN-PREGUNTAS-------------------------------------- */
.main .preguntas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main .preguntas div {
  width: 100%;
  height: 300px;
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 1280px) {
  .main .productos .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "prod1 prod2" "prod3 prod4"  "prod5 prod6" "prod7 prod8" "prod9 prod10";
  }
}

@media only screen and (max-width: 768px) {
  .header .navbar-dark .navbar-brand img {
    margin-left: 20px;
  }
  .main .hero {
    height: 600px;
  }
  .main .hero h1 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .main .hero .button {
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
  }
  .main section h2 {
    font-size: 25px;
  }
  .main section .seccionProductos {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 10px;
  }
  .main section .nuestraMision p {
    text-align: left;
    font-size: 15px;
  }
  .main section .nuestraMision p img {
    width: 150px;
    height: 150px;
  }
  .main .seccionNosotros p {
    text-align: left;
    font-size: 15px;
  }
  .main .productos .galeria .prod {
    height: 380px;
  }
  .main .productos .galeria .prod p {
    color: #481620;
    font-size: 15px;
  }
  .main .productos .galeria .prod h3 {
    font-size: 25x;
  }
  .main .containerNosotros {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .containerNosotros .imagenNosotros {
    width: 100%;
    height: 600px;
    background-image: url(https://images.pexels.com/photos/4252133/pexels-photo-4252133.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center;
  }
  .main .containerNosotros .textoNosotros {
    width: 100%;
  }
  .main .preguntas div {
    height: 200px;
  }
  .main .preguntas div p {
    font-size: 15px;
  }
  .mainContac section h2 {
    font-size: 25px;
  }
  .mainContac section .form {
    height: 500px;
    width: 400px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer div {
    text-align: center;
    margin-bottom: 5px;
  }
  .footer div iframe {
    width: 170px;
    height: 100px;
  }
  .footer ul {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px;
  }
  .footer ul li a {
    padding: 5px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 480px) {
  .main .hero {
    height: 500px;
  }
  .main .hero h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .main .hero .button {
    padding: 5px;
    font-size: 12px;
  }
  .main section h2 {
    font-size: 20px;
  }
  .main section .nuestraMision p img {
    width: 100px;
    height: 100px;
  }
  .main .productos .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
        grid-template-areas: "prod1"  "prod2" "prod3"  "prod4"  "prod5"  "prod6" "prod7" "prod8" "prod9";
  }
  .mainContac section h2 {
    font-size: 20px;
  }
  .mainContac section .form {
    height: 500px;
    width: 330px;
  }
  .mainContac section .form h3 {
    font-size: 23px;
  }
  .mainContac section .form .accion .boton {
    font-size: 10px;
  }
}
/*# sourceMappingURL=estilos.css.map */