/* ------------------------------MAIN-INDEX---------------------------------------- */
.main {
    grid-area: main;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.70)), url(../multimedia/imagenes/Background1.jpg) ;
    background-size: cover;
    .hero {
        height: 800px;
        width: 100%;
        background-image: url("https://images.unsplash.com/photo-1627488193141-953623010488?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            h1{
                font-size: 75px;
                color: white;
                font-family: 'Great Vibes', cursive;
                text-shadow: 2px 2px 2px $color3;
                margin-bottom: 50px;
            }
            .button {
                background-color: $color3;
                border: 0;
                padding: 10px;
                color: white;
                font-style:oblique;
                font-family: cursive;
                font-size: 20px;
                border-radius: 5px;
                    &:hover {
                        text-decoration: none;
                        background-color: $color1;
                        color: $color3;
                    }
            }
    }
    section {
        h2 {
        @extend %tituloH2;
        }
    }
    .seccionNosotros {
        display: flex;
        flex-direction: column;
        h2 {
            @extend %tituloH2;
        }
        .contenedorNosotros {
            .row {
                .imagen {
                    margin: 10px
                }
                .texto {
                    @extend %parrafo;
                    margin: auto;
                    padding: 15px;
                }
            }
        }
    }
    .recomendaciones {
        display: flex;
        flex-direction: column;
        h2 {
            @extend %tituloH2;
        }
        background-image: linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.70)), url(https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) ;
        background-size: cover;
        background-position: center;
        .tarjetaRecomendacion {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .tarjeta {
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 3px solid $color3;
                border-radius: 10px;
                box-shadow: 15px 5px 10px $color3; 
                box-shadow: 0px 0px 40px $color2;
                margin-top: 10px;
                h3 {
                    font-size: 27px;
                }
                img {
                    margin-top: 25px
                }
                    p{
                        @extend %parrafo;
                        font-family: 'Abel', sans-serif;
                        margin-top: 25px;
                    }
            }
            
        }
    }
}

/* ----------------------------MAIN-PRODUCTOS-------------------------------------- */
.main {
    .productos {
        display: flex;
        flex-direction: column;
        h2 {
            @extend %tituloH2;
        }
        .galeria {
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            gap: 20px 30px; 
            grid-template-areas: 
                "prod1 prod2 prod3"
                "prod4 prod5 prod6"
                "prod7 prod8 prod9";
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 15px;
            .prod1 { grid-area: prod1; }
            .prod2 { grid-area: prod2; }
            .prod3 { grid-area: prod3; }
            .prod4 { grid-area: prod4; }
            .prod5 { grid-area: prod5; }
            .prod6 { grid-area: prod6; }
            .prod7 { grid-area: prod7; }
            .prod8 { grid-area: prod8; }
            .prod9 { grid-area: prod9; }
            .prod {
                height: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 3px solid $color3;;
                border-radius: 10px;
                box-shadow: 15px 5px 10px $color3; 
                box-shadow: 0px 0px 40px $color2;
                img {
                    border-radius: 20px;
                    &:hover {
                        transform: scale(1.05);
                        transition: 2s;
                    }
                }
                h3 {
                    margin-top: 10px;
                    color: $color2;
                    font-size: 30px;
                }
                p {
                    color: $color2;
                    font-size: 20px;
                    font-family: $font2;
                    padding: 15px;
                }
            }
        }
    }
}

/* /* ----------------------------MAIN-NOSOTROS--------------------------------------- */

.main {
    .containerNosotros {
        display: flex;
        flex-wrap: wrap;
        .imagenNosotros {
            width: 50%;
            background-image: url(https://images.pexels.com/photos/4252133/pexels-photo-4252133.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
            background-size: cover;
            background-position: center;
        }
        .textoNosotros {
            width: 50%;
            h2 {
                @extend %tituloH2;
            }
        }
        .nosotros {
            p{
            @extend %parrafo;
            }
        }
        .nuestraMision {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                @extend %parrafo;
            }
            img {
                @include sizes (200px, 200px);
            }
        }
    } 
}  

/* ----------------------------MAIN-CONTACTO--------------------------------------- */
.mainContac {
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.70)), url(../multimedia/imagenes/Background1.jpg) ;
    background-size: cover;
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            @extend %tituloH2;
        }
        .form {
            @include sizes (450px, 600px);
            border: 2px solid #00ffe1;
            padding: 40px;
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            background: #ADFFF5;
            box-shadow: 7px 13px 37px #000;
            h3 {
                font-size: 30px;
                color: $color2;
                text-align: center;
                margin-bottom: 20px;
            }
            .entrada {
                width: 100%;
                background: #bce9e4;
                border: 2px solid $color3;;
                padding: 10px;
                border-radius: 8px;
                margin-bottom: 20px; 
            }
            .entrada2 {
                @include sizes (100%, 200px);
                background: #bce9e4;
                padding: 10px;
                border: 2px solid $color3;
                border-radius: 5px;
                margin-bottom: 30px;
            }
            .accion {
                display: flex;
                justify-content: space-between;
                align-content: flex-end;
                .boton {
                    @include sizes (30%, 30px);
                    padding: 5px;
                    background:$color3;
                    color: $color2;
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    }
}

/* ----------------------------MAIN-PREGUNTAS-------------------------------------- */
.main {
    .preguntas {
        display: flex;
        flex-direction: column;
        width: 100%;
            div{
                @include sizes (100%, 300px);
                height: 300px; 
                width: 100%;
                display: flex;
                flex-direction: column;
            h2 {
                @extend %tituloH2;
            }
            p{
                @extend %parrafo;
        } 
    }
}
}
