@media only screen and (max-width: 1280px) {
    .main {
        .productos {
            .galeria {
                display: grid; 
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                grid-template-areas: 
                    "prod1 prod2"
                    "prod3 prod4" 
                    "prod5 prod6"
                    "prod7 prod8"
                    "prod9 prod10" ;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        .navbar-dark {
            .navbar-brand {
                img {
                    margin-left: 20px;
                }
            }
        }
    }
    .main {
        .hero {
            height: 600px;
            h1 {
                font-size: 50px;
                margin-bottom: 30px;
            }
            .button {
                padding: 7px;
                font-size: 15px;
                border-radius: 5px
            }
        }
        section {
            h2 {
                font-size: 25px;
            }
            .seccionProductos {
                justify-content: space-evenly;
                padding: 10px;
            }
            .nuestraMision {
                p {
                    text-align: left;
                    font-size: 15px;
                    img {
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }
        .seccionNosotros {
            p {
                text-align:left;
                font-size: 15px;
            }
        }
        .productos {
            .galeria {
                .prod {
                    height: 380px;
                    p {
                        color: $color2;
                        font-size: 15px;
                    }
                    h3 {
                        font-size: 25x;
                    }
                }
            }
        }
        .containerNosotros {
            flex-direction: column;
            flex-wrap: wrap;
            .imagenNosotros {
                width: 100%;
                height: 600px;
                background-image: url(https://images.pexels.com/photos/4252133/pexels-photo-4252133.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
                background-size: cover;
                background-position: center;
            }
            .textoNosotros {
                width:100%;
            }
        }
        .preguntas {
            div {
                height: 200px;
                p{
                    font-size: 15px;
                }
            }
        }
    }
    .mainContac {
        section {
            h2 {
                font-size: 25px;
            }
            .form {
                height: 500px;
                width: 400px;
            }
        }
    }
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div {
            text-align: center;
            margin-bottom: 5px;
            iframe  {
                width: 170px;
                height: 100px;
            }
            
        }
        ul {
            order: 2;
            display: flex;
            margin: 15px;
            li {
                a {
                    padding: 5px;
                    font-size: 13px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .main {
        .hero {
            height: 500px;
            h1 {
                font-size: 35px;
                margin-bottom: 20px;
            }
            .button {
                padding: 5px;
                font-size: 12px;
            }
        }
        section {
            h2 {
                font-size: 20px;
            }
            .nuestraMision {
                p {
                img {
                    width: 100px;
                    height: 100px;
                    }
                }
            }
        }
        .productos {
            .galeria {
                display: grid; 
                grid-template-columns: 1fr ; 
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
                gap: 20px;
                grid-template-areas: 
                    "prod1" 
                    "prod2"
                    "prod3" 
                    "prod4" 
                    "prod5" 
                    "prod6"
                    "prod7"
                    "prod8"
                    "prod9";
            }
        }
    }
    .mainContac {
        section {
            h2 {
                font-size: 20px;
            }
            .form {
                height: 500px;
                width: 330px;
                h3 {
                    font-size: 23px;
                }
                .accion {
                    .boton {
                        font-size: 10px;

                    }
                }
            }
        }
    }
}